<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd"
	xmlns:mvc="http://www.springframework.org/schema/mvc">

	<!-- annotation 설정을 하겠다. -->
	<context:annotation-config/>
	
	<!-- 
		com.javaex.controller 패키지 밑에 있는 클래스 중에
		@Controller를 달고 있는 클래스의 객체를 생성 하겠다. (new 하겠다)
	 -->
	<context:component-scan base-package="com.javaex.controller"/>
	
	<!-- default view resolver -->
	<bean id="viewResolver"	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/views"/>	<!-- default folder name -->
		<property name="suffix" value=".jsp"/>				<!-- default ex -->
		<property name="order" value="1"/>
	</bean>

	<!-- 서블릿 컨테이너의 디폴트 서블릿 위임 핸들러 -->
	<mvc:default-servlet-handler/>
	<mvc:annotation-driven/> 

	<!-- MappingJacksonHttpMessageConverter | ajax use -->
	<!-- 사용시 위의 <mvc:annotation-driven/>을 주석처리할 것 -->
	 <mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json; charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven> 

	<!-- multipart resolver | fileUpload use -->
	<!-- <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="52428800"/> 
		<property name="maxInMemorySize" value="52428800"/>
		<property name="defaultEncoding" value="utf-8"/>
	</bean> -->
	
	<!-- multipart connect | fileUpload use(location) -->
	<!-- <mvc:resources mapping="/upload/**" location="file:D:/javaStudy/upload/"/> -->
	<!-- upload로 오면 location 위치를 찾아라 -->
</beans>